@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #131313;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "Oswald", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1212px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0 10px;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
  height: 80px;
}
.header__inner .header__left {
  display: flex;
  align-items: center;
}
.header__inner .header__left .header__menu {
  margin-right: 40px;
  padding: 0 10px;
}
.header__inner .header__left .header__menu .menu__list {
  display: flex;
}
.header__inner .header__left .header__menu .menu__list .menu__item {
  padding-left: 20px;
}
.header__inner .header__left .header__menu .menu__list .menu__item .menu__link {
  text-transform: uppercase;
  padding: 0 10px;
}
.header__inner .header__right .btn__link {
  padding: 14px 40px;
  background-color: #131313;
  background: #0057FF;
  border-radius: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.digital__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.digital__inner .digital__suptitle {
  text-transform: uppercase;
  color: #0057FF;
  line-height: 22px;
  letter-spacing: 0.5px;
  font-size: 11px;
  margin-top: 100px;
}
.digital__inner .digital__title {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  letter-spacing: 1px;
}
.digital__inner .digital__text {
  margin-top: 40px;
  text-align: center;
  font-family: "Roboto";
  line-height: 26px;
}
.digital__inner .digital__img {
  margin-top: 60px;
}
.digital__inner .digital__text2 {
  margin-top: 40px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.footer {
  font-size: 12px;
  line-height: 15px;
  background-color: #131313;
  color: #ffffff;
}
.footer .footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.footer .footer__inner .footer__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer .footer__inner .footer__social .footer__social-link + .footer__social-link {
  margin-left: 26px;
}
.footer .footer__inner .footer__social a {
  font-size: 0;
}
.footer .footer__inner .footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer .footer__inner .footer__contacts .footer__contacts-link {
  display: flex;
  align-items: center;
}
.footer .footer__inner .footer__contacts .footer__contacts-link span {
  margin-left: 10px;
}
.footer .footer__inner .footer__contacts .footer__contacts-link + .footer__contacts-link {
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */